node_modules/
.env
.DS_Store

# ML artifacts
models/
data/
snapshots/
*.pt
*.pth
*.ckpt
drift_report.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# MLflow
mlruns/
mlartifacts/
